.Categories_{
    display: flex;
    height:fit-content;
    background:darkseagreen;
    justify-content:space-around;
    gap: 20px;
    margin: 20px;
}
 

.All{


    padding:8px;
    border-radius: 9px;
    background: red;
    height: 30px;
   width: 100%;
   
}